* {
  margin: 0;
  padding: 0;
}
body {
  background: darkolivegreen;
}

h1 {
  text-align: center;
  padding: 10px;
}
h4 {
  text-align: justify;
  margin: 10px;
}
ul {
  margin: 10px;
  padding: 10px;
}
