@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Poppins;
  margin-top: 100px;
}
table {
  background: white;
  color: black;
  text-align: left;
  margin: auto;
  border-collapse: collapse;
  width: 540px;
}
td {
  border: 2px solid black;

  width: 180px;

  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.orange {
  background: orange;
  color: white;
}
.blue {
  background: blue;
  color: white;
}
.green {
  background: green;
  color: white;
}
.col-1 {
  font-weight: 700;
}
.col-2 {
  font-weight: 400;
}
