@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto;
  margin-top: 100px;
}
table {
  background: white;
  color: white;
  text-align: left;
  margin: auto;
}
tr {
  background: rgba(128, 0, 128, 0.658);
  font-size: 1.2em;
}
tr:nth-child(even) {
  background: rgb(243, 123, 179);
}
th {
  background: purple;
  padding: 15px 50px 15px 10px;
  font-weight: 700;
}
td {
  padding: 15px 50px 15px 10px;
  font-weight: 400;
}
