@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}
table {
  background: rgb(255, 199, 14);
  color: black;
  margin: 10% auto;
}

th {
  width: 150px;
  padding: 20px 50px 20px 50px;

  font-size: 1.2em;
}
td {
  background: darkslateblue;
  color: white;
  text-align: left;
  padding: 20px 80px 20px 20px;
  font-size: 1.2em;
  font-weight: 500;
}
th:nth-child(2) {
  background: rgba(206, 160, 8, 0.61);
}
